.statuslabel {
    padding: 0px 30px;
}

.updatelabel {
    padding: 30px 30px 0 30px;
    color: yellowgreen;
}

.green {
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(0,255,0,0.7);
    padding: 0px 5px;
}

.red {
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(255,0,0,0.7);
    padding: 0px 5px;
}

.amber {
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(255,191,0,0.7);
    padding: 0px 5px;
}
